*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-align: center;
    color: yellow;
    text-decoration: none;
    display: block;
    font-size: 20px;
}


body {

    background-color: purple;
    position: relative;
}

.search-data input {
    height: 100%;
    width: 100%;
    background: none;
    border: none;
    outline: none;
    font-size: 22px;
    font-weight: 500;
    color: #fff;
    text-align:center;
    margin-top: 200px;
}

.search-data input:valid~label {
    opacity: 0;
}

.search-data span {
    color: #fff;
    position: absolute;
    width: 50px;
    font-size: 25px;
    right: 0;
    top: 0;
    line-height: 45px;
    cursor: pointer;
}

.search-data label {
    position: absolute;
    top: 50%;
    left: 0;
    font-size: 20px;
    transform: translateY(-50%);
    pointer-events: none;
    color: rgba(255, 255, 255, 0.7);
}

.search-data .line {
    position: absolute;
    height: 3px;
    width: 100%;
    background: #fff;
    bottom: 0;
    transform: scaleX(0);
    transition: transform 0.4s 0.3s linear;
}



